// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  color: #6C7A89;
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
 a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
     &:last-child {
          margin-right: 0;
     }
   }
}

.fa-github{
     color:#5D3F6A;
}

.fa-linkedin-in{
     color: #1F4788;
}

.fa-whatsapp{
     color: #006442;
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.list-inline-item img {
     width: fit-content;
     height: 40px;
}

.social-media-bottom{
     font-family: 'JetBrains Mono', monospace;
     size: 1.4em;
     text-decoration: none;
     color: #6C7A89;
}

.cards{
     display: flex;
     flex-direction: column;
     padding: 15px;
}

.arthais{
     color: #0f2d5e;
}

.people{
     color: #8d130f;
}

.ifsp{
     color: #054630;
}

.resume-item{
     padding-top: 50px;
}

.fa-file-pdf{
     color: #8d130f;
}

.curriculo:hover{
     background-color: #5c0b1d;
}

.Github:hover{
     background-color: #3e2947;
}

.Linkedin:hover{
     background-color: #0f2d5e;
}

.Whatsapp:hover{
     background-color: #0a3b2b;
}